<div class="author-info">
    <div class="author-image-wrapper">
        <img src="/assets/images/hannu_huhtanen.jpg" class="author-image"/>
    </div>
    <div class="author-desc">
        <h3 class="author-name">Hannu Huhtanen</h3>
        <p class="author-desc-text">
            Hannu Huhtanen is a passionate full-stack developer on an endless journey to learn more and master his craft.
            He has a master's degree in computer science from Aalto University and has worked in software industry for
            over 6 years. He is currently working as a consultant at Gofore Oyj. His interests include
            cloud technologies, AWS, microservices, DevOps and automated testing among others.
        </p>
    </div>
</div>