.comment {
  margin: 0 0 0.75em 0;
  padding: 0 0 0.25em 1em;
  border-bottom: solid 1px $primary-neutral-light;
}

.comment-author {
  color: $primary-color;
  font-weight: bold;
}

.comment-time {
  color: $neutral-gray;
  float: right;
  font-size: small;
}

.comment-content {
  display: block;
  white-space: pre-wrap;
}